/*** The stylesheet for country, division, and organization pages ***/
body {background-color: lightgrey;}

/*Adds icon to external links*/
a[target="_blank"]::after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 3px 0 5px;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Literata', serif;
    font-weight: bold;
    color: brown;
}

#topdiv {
    text-align: center;
    position: fixed;
    left: 50%; top: 0%;
    width: 100%; height: 80px;
    transform: translate(-50%, 0%);
    background-color: silver;
} #logo {
    position: absolute;
    left: 1%; top: 45%;
    transform: translate(0%, -50%);
} #language-div {
    position: absolute;
    left: 5%; top: 50%;
    transform: translate(0%, -50%);
} #language-flag {
    position: absolute;
    left: 0%; top: 50%;
    transform: translate(0%, -50%);
} #language-selector {
    position: absolute;
    height: 32px;
    left: 41px; top: 50%;
    transform: translate(0%, -50%);
    border: 5px double brown;
    font-size: 14px;
} #title-div {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
} #title {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
} #navbar {
    /*positioning*/
    position: relative;
    left: 50%; top: 80px;
    transform: translate(-50%);
    /*styling*/
    text-align: center;
    width: 100%;
    list-style-type: none;
    margin: 0; padding: 0;
    overflow: hidden;
    background-color: light-gray;
} #navlist {
    list-style-type: none;
    margin: 0; padding: 0;
    overflow: hidden;
    background-color: silver;
    display: inline-block;
} .navlink {
    display: block;
    color: brown;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} li {
    float: center;
} li a:hover {background-color: gray;}

#leftdiv {
    position: absolute;
    width: 20%;
    left: 12.5%; top: 125px;
    transform: translate(-50%, 0%);
} #mapImg {
    width: 100%;
    border: 5px solid brown;
} #disputeDisclaimer {
    width: 294px;
    word-wrap: normal;
}

#centerdiv {
    text-align: center;
    position: absolute;
    width: 45%;
    left: 50%; top: 130px;
    transform: translate(-50%, 0%);
} li {
    float: left;
} .navlink {
    display: block;
    color: brown;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} li a:hover {background-color: silver;}
#lastUpdated {
    color: brown;
}
#contentdiv {
    position: relative;
    top: 10px;
    width: 500px;
} .lawlink {word-wrap: normal;}

#rightdiv {
    position: absolute;
    width: 20%;
    left: 87.5%; top: 125px;
    transform: translate(-50%, 0%);
} #flag {
    width: 100%;
} #seal {
    display: block;
    margin-left: auto;
    margin-right: auto;
} #country-type {
    color: brown;
    font-family: garamond, serif;
    text-align: center;
}
